body {
  font-family: "Verdana";
  margin: 0; /* Reset margin to remove spacing around the body */
  background: #000000ed;
  background-image: url("https://wallpapercave.com/wp/wp9116447.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5em;
  font-size: 12px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

#show_devices_HTML {
  font-size: 18px;
}

.search_bar {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

#selected_device_HTML {
  font-size: 18px;
}

.slider-container {
  align-items: center;
}

.playback-controls {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center the buttons */
  margin-top: 10px;
}

.playback-controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.playback-controls button:hover {
  background-color: #45a072;
}


#album_cover {
  text-align: center;
  margin-top: 20px;
}

/* Your existing styles */

.drop_down {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  /* Add more styling here if needed */
}

/* Additional styling for the dropdown menu */
.drop_down select {
  width: 100%; /* Make the dropdown take full width */
  padding: 10px;
  border: 4px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
}

/* Additional styling for the selected device paragraph */
#selected_device_HTML {
  margin: 10px 0;
}
